[Unit]
Description=Flannel Server
After=network.target
After=network-online.target
Wants=network-online.target

[Service]
Type=notify
EnvironmentFile=/etc/flanneld.conf
ExecStart=/usr/local/bin/flanneld -subnet-file=/etc/profile.d/flanneld.env -etcd-endpoints=${FLANNELD_ETCD_ENDPOINTS}
Restart=on-failure
LimitNOFILE=1000000

[Install]
WantedBy=multi-user.target
