[Unit]  
Description=Kubernetes Proxy  
After=network.target  
  
[Service]  
ExecStart=/opt/bin/kube-proxy  \  
  --bind-address=0.0.0.0 \
  --log-dir=/opt/kubernetes/server/log \
  --master=http://kube-server-IP:8080
  --hostname-override=kube-host-IP \    
  --logtostderr=true  
Restart=on-failure  
  
[Install]  
WantedBy=multi-user.target 
